#chart {
  width: 800px;
  height: 400px;
  background-color: #f7f7f7;
  margin: 25px auto;
  display: flex;
  float: left;
}


.pink-border{
  border: 2px solid pink;
  display: block;
  margin: 20px;
  width: 30px;
}
.red-border{
  border: 2px solid red;
  display: block;
  background: red;
  height: 20px;
}

#input-container{
  height: 500px;
  width: 50px;
}
.add-button, .update-button, .enter-button{

  border: 2px solid salmon;
}