#chart-container {
  width: 800px;
  height: 550px;
  background-color: #f7f7f7;
  margin: 25px auto 0 auto;
  display: flex;
}

.input-box {
  border: 1px solid coral;
  display: block;
  width: 30px;
  color: grey;
  margin: 20px;

  border-radius: 5%;
}

#input-container {
  height: 500px;
  max-height: 500px;
  width: 50px;
}
#control-box {
  position: relative;
}

.add-input-btn,
.delete-input-btn,
.update-input-btn {
  border: 2px solid coral;
  height: 40px;
  margin: 1rem;
  font-size: 1rem;
  background: white;
  color: coral;
  outline: none;
}
.add-input-btn,
.delete-input-btn {
  border-radius: 50%;
  width: 40px;
}
.update-input-btn {
  border-radius: 8%;
  width: 100px;
}

.fill-input-btn {
  border: 1px solid coral;
  border-radius: 8%;
  height: 20px;
  width: 100px;
  font-size: 0.5rem;
  background: white;
  color: coral;
  outline: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.add-input-btn:hover,
.delete-input-btn:hover,
.update-input-btn:hover,
.fill-input-btn:hover {
  cursor: pointer;
  font-weight: 900;
  border: 2px solid #e65c00;
  color: #e65c00;
}

.button-container {
  width: 800px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-left: 100px;
}
